* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "General Sans";
}
html, body {
    height: 100%;
    width: 100%;
}
#cursorfollower {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    position: absolute;
    z-index: 99999;
    background-color: #fff;
    pointer-events: none;
    transition: cubic-bezier(0.19, 1, 0.22, 1) 1s;
    mix-blend-mode: difference;
}
.animated {
    width: fit-content;
    overflow: hidden;
}
.animated .textup {
    transform: translateY(100%);

}
#main {
    width: 100%;
    background-color: black ;
}
#hero {
    width: 100%;
    height: 100vh;
    color: #fff;
    background-color: black;
    position: relative;
}
#hero #nav {
    width: 100%;
    padding: 20px 40px;
    font-size: 1.2vw;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}
#hero #nav:hover {
    color: #888;
}
#nav a {
    color: #fff;
    text-decoration: none;
}
#heading {
    margin-top: 30px;
}
#heading h1{
    font-family: "General Sans medium";
    font-size: 9vw;
    font-weight: 900;
    text-transform: uppercase;
    line-height: 1;
    opacity: .6;
    margin-left: 30px;
}
#heading .block {
    width: fit-content;
    margin-left: 150px;
    display: flex;
    flex-direction: column;
    align-items: end;
}
.block h5 {
    text-align: right;
    text-transform: uppercase;
    font-size: 1vw;
    word-spacing: 1px;
}
#sub1 {
    display: flex;
    flex-direction: column;
    align-items: end;
    margin-top: 130px;
    padding-right: 30px;
}
#sub1 h5 {
    font-size: 1vw;
    font-weight: 900;
    text-transform: uppercase;
    text-align: right;
    margin-top: .1 vw;
}
#sub2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* margin-top: 120px; */
    width: 100%;
    position: absolute;
    bottom: 2%;
}
#sub2 .sec1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    width: 40%;
    border: 2px solid black;
}
#sub2 .sec1 a {
    color: #fff;
    text-decoration: none;
    font-size: 1vw;
    text-transform: uppercase;
    padding-left: 30px;
}
#sub2 .sec2 {
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#sub2 .sec2 a {
    color: #fff;
    text-decoration: none;
    font-size: 1vw;
    text-transform: uppercase;
}
#sub2 .sec3 {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 40%;

}
#sub2 .sec3 .circle {
    color: #fff;
    font-size: 1vw;
    margin-right: 30px;
}
.circle i {
    padding: 3px;
    color: black;
    background-color: #fff;
    border-radius: 50%;
    opacity: .6;
}

#second {
    width: 100%;
    height: 100%;
    color: #fff;
    background-color: black;
    padding: 15vh 10vw 0 3vw;
}
.ele {
    width: 100%;
    padding: 3.5vw 0 3.5vw 0;
    border-top: 1px solid #888;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.eleLast {
    border-bottom: 1px solid #888;
}
.ele h1 {
    font-size: 6.6vw;
    font-weight: 700;
    text-transform: uppercase;
    color: #888;
}
.ele img {
    height: 140%;
    opacity: 0 ;
    display: block;
    position: absolute;
    z-index: 999;
}
.ele .btn {
    padding: 5vw;
    /* background-color: red;
    display: flex;
    justify-content: center;
    align-items: center; */
}
.btn button {
    font-size: 1vw;
    color: #fff;
    background-color: black;
    padding: 10px 22px;
    border: 1px solid #fff;
    border-radius: 20px;
    cursor: pointer;
    word-spacing: 1px;
}
.btn button:hover {
    background-color: #888;
}

#moving {
    width: 100%;
    overflow: hidden;
    background-color: black;
    padding: 2vw 0;
    border-top: 1px solid  #888;
    border-bottom: 1px solid  #888;
}
.marquee {
    display: flex;
    width: max-content;
    animation: marquee 20s linear infinite;
}
.marquee img {
    height: 60px;
    margin: 0 40px;
    user-select: none;
    pointer-events: none;
}
@keyframes marquee {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}

#about {
    width: 100%;
    padding: 12vw 10vw 8vw 36vw;
    color: #fff;
    background-color: black;
    display: flex;
    align-items: center;
    gap: 60px;
}
#about img {
    width: 150px;
}
#about .textabout {
    width: 30rem; 
}
.textabout h5 {
    text-transform: uppercase;
    opacity: .6;
    font-size: 10px;
    margin-bottom: 10px;
}
.textabout p {
    line-height: 1.7;
    margin-bottom: 20px;
    font-size: 12px;
}
.textabout a {
    padding: .2rem 1rem;
    color: #fff;
    font-size: 12px;
    text-decoration: none;
    border: 1px solid #fff;
    border-radius: 25px;
}
#social {
    padding: 0 0 7vw 2.5vw;
    color:#fff ;
    background-color: black;
}
#social h5 {
    opacity: .6;
    text-transform: uppercase;
    font-size: 9px;
}
#social h3 {
    text-transform: uppercase;
    font-size: 11px;
    font-weight: bold;
    margin-top: 1px;
}
#footer {
    padding: 1.2vw 2.5vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: black;
}
#footer .left {
    display: flex;
    gap: 20px;
}
#footer .left h5 {
    text-decoration: none;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
}
#footer .right {
    display: flex;
    align-items: center;
    gap: 30px;
}
#footer .right a {
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
}